# MongoDB Connection String
MONGODB_URI=""

# Cloudinary API Credentials
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Admin Authentication
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
JWT_SECRET=""

# Email Subscription (Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER=""
SMTP_PASS=""
RECEIVER_EMAIL=""
