@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_gradient {
  background-color: hsla(234, 86%, 3%, 1);
  color: white;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(360, 58%, 2%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 100%, #0b6ba2 0px, transparent 50%),
    radial-gradient(at 0% 0%, #6f1f6db8 0px, transparent 50%);
  min-height: 100vh;
  max-width: 1440px;
}
/* gradient style for text  */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f93d9e, #00b4d8, #00a6fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@layer components {
  .primary_black {
    color: #0b090a;
  }
  .primary {
    color: #00a6fb;
  }
  .bg_pri {
    background: #00a6fb;
  }
  .secondary {
    color: #5abaea;
  }
  .secondary_black {
    color: #4a5560;
  }
}
